<%= render partial: "public_info" %>

<% if @user.cook? %>
  <% if @user.products.empty? %>
    <h3>Desculpe, este cozinheiro ainda não cadastrou seus produtos =(</h3>
  <% else %>
    <h3>Produtos</h3>
    <%= render @user.products unless user_signed_in? %>
    <%= render partial: "proposals/proposal_form", locals: {proposal: @proposal} if user_signed_in? %>
  <% end %>
<% end %>
