.lobster{
  font-family: 'Lobster Two', cursive;
}

.simple_form {
  .btn {
    margin-left: 15px;
  }
}

.help-block {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    display: flex;
}

.no-point-list{
  list-style: none;
}

table{
  td:nth-child(6n+1){
    text-align: center;
  }

  td:nth-child(2n+1){
    input{
      width: 80px!important
    }
  }
}
