@import 'bootstrap';
@import 'font-awesome';

.simple_form {
  .btn {
    margin-left: 15px;
  }
}

.help-block {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    display: flex;
}

.btn:disabled {
  opacity: .9;
}
